@import 'sass/setups';

header{
	height: 600px;
	//background-image: url("../img/water.jpg");
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
	.nav{
		margin: auto;
		max-width: 1800px;
		height: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
		.menuBtn{
			width: 35px;
			height: 50px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			hr{
				width: 100%;
			    border: 3px solid #fff;
			    border-radius: 3px;
			}
		}
		// menuBtn end //
	}
	// nav end // 
	.main{
		width: 100%;
		text-align: center;
		margin-top: 50px;
		>img{
			position: absolute;
		    top: 300px;
		    left: 50%;
		    -webkit-transform: translate(-50%,-50%);
		    transform: translate(-50%,-50%);
		    opacity: 0.2;
		    max-width: 100%;
		}
		.hero{
			text-align: center;
			h3{
				font-family: 'Roboto-Medium';
				font-size: 35px;
				color: #fff;
				margin-top: 20px;
			}
			p{
				font-family: 'Roboto-Regular';
				font-size: 16px;
				color:#fff;
				margin-top: 10px;
			}
		}
	}
}

.socials{
	display: flex;
	align-items: center;
	li{
		margin:0 10px;
		a{
			
			.svgico{
				fill:#fff;
				transition: 0.15s;
			}
		}
		a:hover{
			.svgico{
				fill:#7b9b5e;
			}
		}
	}

}
