@font-face {
  font-family: FontAwesome;
  src: url(../fonts/FontAwesome.otf); }
@font-face {
  font-family: fontawesome-webfont;
  src: url(../fonts/fontawesome-webfont.ttf); }
@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf); }
@font-face {
  font-family: Roboto-BoldItalic;
  src: url(../fonts/Roboto-BoldItalic.ttf); }
@font-face {
  font-family: Roboto-Italic;
  src: url(../fonts/Roboto-Italic.ttf); }
@font-face {
  font-family: Roboto-Light;
  src: url(../fonts/Roboto-Light.ttf); }
@font-face {
  font-family: Roboto-LightItalic;
  src: url(../fonts/Roboto-LightItalic.ttf); }
@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto-Medium.ttf); }
@font-face {
  font-family: Roboto-MediumItalic;
  src: url(../fonts/Roboto-MediumItalic.ttf); }
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf); }
@font-face {
  font-family: Sansus-Webissimo-Regular;
  src: url(../fonts/Sansus-Webissimo-Regular.ttf); }
body {
  margin: 0;
  padding: 0; }

hr {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal; }

p {
  margin: 0;
  padding: 0; }

.content {
  display: flex; }
  .content h2 {
    font-size: 35px;
    color: #3c4044;
    font-family: 'Sansus-Webissimo-Regular';
    text-transform: uppercase; }
  .content h3 {
    font-size: 28px;
    color: #3c4044;
    font-family: 'Roboto-medium';
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 5px; }
  .content hr {
    border: 2px solid #3c4044;
    width: 90px; }
  .content .about__triangle {
    display: block;
    width: 100%;
    height: 6.875rem;
    margin-top: -110px; }
  .content .content__left {
    z-index: 3;
    background: #eceee2;
    width: 50%; }
    .content .content__left .about__triangle {
      left: 0;
      fill: #eceee2; }
    .content .content__left .hero {
      display: flex;
      margin-top: 20px; }
      .content .content__left .hero div {
        width: 48%; }
      .content .content__left .hero .about__title {
        text-align: center; }
        .content .content__left .hero .about__title h1 {
          font-size: 63px;
          color: #3c4044;
          font-family: 'Sansus-Webissimo-Regular'; }
        .content .content__left .hero .about__title .background {
          width: 340px;
          opacity: 0.05;
          position: relative;
          top: -130px; }
        .content .content__left .hero .about__title hr {
          border: 2px solid #3c4044;
          width: 90px;
          margin: auto;
          margin-top: 20px; }
      .content .content__left .hero .about {
        text-align: center; }
        .content .content__left .hero .about h2 {
          margin-top: 40px; }
        .content .content__left .hero .about hr {
          margin: 30px auto; }
        .content .content__left .hero .about p {
          margin-bottom: 25px;
          font-family: 'Roboto-Regular';
          font-size: 16px;
          color: #3c4044;
          text-align: start; }
  .content .content__right {
    z-index: 3;
    padding-bottom: 50px;
    background: #f4f5f0;
    width: 50%; }
    .content .content__right .about__triangle {
      right: 0;
      fill: #f4f5f0; }
    .content .content__right .skills {
      margin-top: 20px;
      padding-left: 40px;
      display: flex;
      flex-direction: column; }
      .content .content__right .skills hr {
        margin: 30px auto; }
      .content .content__right .skills h2 {
        text-align: center; }
      .content .content__right .skills p {
        margin-bottom: 25px;
        font-family: 'Roboto-Regular';
        font-size: 16px;
        color: #3c4044;
        text-align: start; }
      .content .content__right .skills ul {
        display: flex;
        height: 120px; }
        .content .content__right .skills ul li {
          margin-right: 40px; }
          .content .content__right .skills ul li .skill {
            text-align: center; }
            .content .content__right .skills ul li .skill .skill__title {
              margin-top: -72px;
              font-family: 'Roboto-medium';
              color: #82a066;
              font-size: 14px; }
            .content .content__right .skills ul li .skill svg {
              height: 120px;
              fill: transparent;
              stroke-width: 15; }
              .content .content__right .skills ul li .skill svg .skills__circle-under {
                stroke: #dddbd5; }
              .content .content__right .skills ul li .skill svg .skills__circle-above {
                stroke: #82a066;
                stroke-dasharray: 260; }

.about__triangle_mobile {
  display: none; }

.skills_95 {
  stroke-dashoffset: 21; }

.skills_90 {
  stroke-dashoffset: 34; }

.skills_85 {
  stroke-dashoffset: 47; }

.skills_80 {
  stroke-dashoffset: 60; }

.skills_75 {
  stroke-dashoffset: 73; }

.skills_70 {
  stroke-dashoffset: 86; }

.skills_65 {
  stroke-dashoffset: 99; }

.skills_60 {
  stroke-dashoffset: 112; }

.skills_55 {
  stroke-dashoffset: 125; }

.skills_50 {
  stroke-dashoffset: 138; }

.skills_45 {
  stroke-dashoffset: 151; }

.skills_40 {
  stroke-dashoffset: 164; }

.skills_35 {
  stroke-dashoffset: 177; }

.skills_30 {
  stroke-dashoffset: 190; }

.skills_25 {
  stroke-dashoffset: 203; }

.skills_20 {
  stroke-dashoffset: 216; }

.skills_15 {
  stroke-dashoffset: 229; }

.skills_10 {
  stroke-dashoffset: 242; }

.skills_5 {
  stroke-dashoffset: 255; }

.map {
  background: url("../img/map.png");
  background-position: center;
  height: 1110px;
  width: 100%;
  text-align: center; }
  .map h2 {
    font-size: 35px;
    color: #5a6359;
    font-family: 'Sansus-Webissimo-Regular';
    text-transform: uppercase;
    margin-top: 30px; }
  .map hr {
    border: 2px solid #5a6359;
    width: 90px;
    margin: 30px auto; }
  .map .contacts {
    position: relative;
    top: 330px;
    display: flex;
    flex-direction: column;
    max-width: 380px;
    margin: auto;
    min-height: 315px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 3px; }
    .map .contacts .contacts__content {
      text-align: start;
      margin-left: 40px; }
      .map .contacts .contacts__content li {
        margin: 15px 0; }
        .map .contacts .contacts__content li p {
          display: inline-block;
          font-family: 'Roboto-medium';
          color: #5b6359;
          font-size: 16px;
          margin-left: 10px;
          position: relative;
          top: -5px; }

footer {
  margin-top: -188px; }
  footer .mainContent {
    min-height: 120px;
    background: rgba(60, 64, 68, 0.85);
    padding-top: 30px; }
    footer .mainContent > ul {
      display: flex;
      justify-content: space-between; }
      footer .mainContent > ul > li {
        width: 33%;
        padding-left: 30px;
        height: 90px;
        border-right: 1px solid #636669; }
        footer .mainContent > ul > li p {
          font-family: 'Roboto-light';
          font-size: 16px;
          color: #fff; }
        footer .mainContent > ul > li > a {
          font-family: 'Roboto-bold';
          font-size: 16px;
          text-decoration: none;
          color: #fff;
          margin-right: 40px; }
        footer .mainContent > ul > li a:hover {
          text-decoration: underline; }
        footer .mainContent > ul > li a:nth-child(4) {
          margin-right: 0; }
        footer .mainContent > ul > li q {
          font-family: 'Roboto-light';
          font-size: 16px;
          color: rgba(255, 255, 255, 0.5);
          margin-bottom: 10px;
          display: inline-block; }
        footer .mainContent > ul > li .socials {
          justify-content: flex-start;
          margin-top: 30px; }
          footer .mainContent > ul > li .socials li {
            margin: 0;
            margin-right: 30px; }
            footer .mainContent > ul > li .socials li img {
              opacity: 0.5;
              transition: 0.15s; }
            footer .mainContent > ul > li .socials li img:hover {
              opacity: 1; }
      footer .mainContent > ul li:nth-child(3) {
        border-right: none; }
  footer .footer1, footer .footer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(123, 155, 94, 0.85); }
    footer .footer1 p, footer .footer2 p {
      font-family: 'Roboto-light';
      font-size: 16px;
      color: #fff;
      padding: 10px 0; }

.footer2 p {
  display: none; }

.triangle-blog {
  height: auto;
  margin-top: -145px; }

.footer-blog {
  margin-top: 0; }

.blog {
  background: #faf8f1; }
  .blog p, .blog h2, .blog h3 {
    color: #5a6359; }
  .blog .blog-wrapper {
    display: flex;
    justify-content: space-evenly; }
    .blog .blog-wrapper .nav-blog {
      width: 270px; }
      .blog .blog-wrapper .nav-blog ul li {
        font-family: 'Roboto-Regular';
        font-size: 16px;
        padding: 16px 0;
        text-align: end;
        padding-right: 18px; }
    .blog .blog-wrapper .blog-content {
      padding-bottom: 70px;
      max-width: 740px; }
      .blog .blog-wrapper .blog-content section {
        padding: 0 20px; }
        .blog .blog-wrapper .blog-content section h2 {
          font-family: 'Sansus-Webissimo-Regular';
          font-size: 35px;
          margin-bottom: 30px; }
        .blog .blog-wrapper .blog-content section .data {
          font-size: 16px;
          color: #638741;
          font-family: 'Roboto-Regular';
          margin: 30px 0;
          display: block; }
        .blog .blog-wrapper .blog-content section hr {
          margin: 73px 0;
          height: 0px;
          border: none;
          border-bottom: 5px solid #ecebe4; }

.blog-active {
  border-right: 3px solid #7b9b5e;
  font-family: "Roboto-Bold" !important;
  color: #7b9b5e; }

.title {
  text-align: center;
  padding-bottom: 50px; }
  .title h2 {
    font-size: 63px;
    font-family: 'Sansus-Webissimo-Regular';
    color: #373e42;
    text-transform: uppercase; }
  .title hr {
    border: 2px solid #373e42;
    width: 90px;
    margin: auto;
    margin-top: 20px; }
  .title img {
    margin-top: -150px;
    opacity: 0.05;
    max-width: 100%; }

.myWorks {
  margin-top: -100px;
  background: #f8f9f5; }
  .myWorks img {
    max-width: 95%; }

.portfolioContent {
  min-height: 750px; }

.content__left-portfolio {
  background: #ebefe2 !important; }

.content__right-portfolio {
  background: #e1e4d7 !important; }

.workDescription {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center; }
  .workDescription li {
    height: calc(100% - 250px);
    max-width: 320px;
    margin: auto;
    text-align: center;
    padding-top: 250px;
    position: absolute;
    top: -100%; }
    .workDescription li h3 {
      text-transform: uppercase;
      font-size: 35px;
      color: #566358;
      font-family: 'Sansus-Webissimo-Regular';
      margin-left: 0;
      text-align: center;
      margin-bottom: 25px;
      margin-top: 0; }
    .workDescription li hr {
      margin: auto;
      border: 2px solid #566358; }
    .workDescription li p {
      text-align: center;
      margin-top: 25px;
      color: #4e8839;
      font-size: 16px;
      font-family: 'Roboto-Medium'; }
    .workDescription li a {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-top: 60px;
      border-radius: 22px;
      border: none;
      background: #6c9c5a;
      width: 200px;
      height: 45px;
      color: #fff;
      font-size: 16px;
      font-family: 'Roboto-Medium';
      cursor: pointer; }
      .workDescription li a img {
        margin-right: 10px; }

.content__right-portfolio {
  padding-bottom: 0 !important; }
  .content__right-portfolio .workImages {
    height: 525px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative; }
    .content__right-portfolio .workImages li {
      top: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      position: absolute; }
      .content__right-portfolio .workImages li img {
        max-width: 95%; }
  .content__right-portfolio .buttons {
    width: 100%;
    max-height: 225px;
    display: flex; }
    .content__right-portfolio .buttons .next, .content__right-portfolio .buttons .prev {
      height: 225px;
      width: 50%;
      border: none;
      padding: 0; }
      .content__right-portfolio .buttons .next div, .content__right-portfolio .buttons .prev div {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        transition: 0.15s; }
        .content__right-portfolio .buttons .next div img, .content__right-portfolio .buttons .prev div img {
          opacity: 0.7; }
    .content__right-portfolio .buttons .next div {
      background: rgba(176, 183, 170, 0.7); }
    .content__right-portfolio .buttons .next div:hover img {
      opacity: 1; }
    .content__right-portfolio .buttons .next img {
      transform: rotate(180deg); }
    .content__right-portfolio .buttons .prev div {
      background: rgba(147, 153, 141, 0.7); }
    .content__right-portfolio .buttons .prev div:hover img {
      opacity: 1; }
    .content__right-portfolio .buttons .next, .content__right-portfolio .buttons .prev {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat; }

.aboutMe {
  background-image: url("../img/bg.png");
  background-position: bottom;
  background-repeat: no-repeat;
  height: 1356px;
  background-size: inherit; }
  .aboutMe .title {
    margin-top: 75px; }
    .aboutMe .title img {
      position: relative;
      top: -40px;
      opacity: 0.1; }
  .aboutMe .says {
    max-width: 816px;
    margin: auto;
    display: flex; }
    .aboutMe .says li {
      padding: 0 14px;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .aboutMe .says li p:nth-child(2) {
        font-size: 16px;
        font-family: Roboto-Italic;
        color: #5d5a55;
        margin-top: 17px; }
      .aboutMe .says li p:nth-child(3) {
        color: #4e8839;
        font-size: 16px;
        margin-top: 27px;
        font-family: Roboto-MediumItalic; }
      .aboutMe .says li p:nth-child(4) {
        margin-top: 5px;
        font-size: 16px;
        font-family: Roboto-LightItalic;
        color: #5d5a55; }
  .aboutMe .contactFormWraper {
    background: rgba(224, 224, 220, 0.4);
    max-width: 380px;
    margin: auto;
    text-align: center;
    margin-top: 70px;
    padding-top: 40px;
    border-radius: 3px; }
    .aboutMe .contactFormWraper h3 {
      font-size: 35px;
      color: #566358;
      font-family: Sansus-Webissimo-Regular;
      text-transform: uppercase; }
    .aboutMe .contactFormWraper hr {
      border: 2px solid #566358;
      width: 90px;
      margin: 20px auto; }
    .aboutMe .contactFormWraper form {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .aboutMe .contactFormWraper form input, .aboutMe .contactFormWraper form textarea {
        margin-top: 20px;
        border: none;
        border-radius: 21px;
        height: 45px;
        width: 80%;
        outline: none;
        font-family: Roboto-Regular;
        font-size: 16px;
        color: #5d5a55;
        padding: 0 20px; }
      .aboutMe .contactFormWraper form textarea {
        min-width: 80%;
        max-width: 80%;
        min-height: 140px;
        max-height: 140px;
        padding-top: 15px; }
      .aboutMe .contactFormWraper form div {
        width: 100%;
        display: flex;
        margin-top: 20px;
        height: 45px; }
        .aboutMe .contactFormWraper form div button {
          width: 50%;
          height: 100%;
          border: none;
          font-size: 16px;
          font-family: Roboto-Medium;
          color: #fff;
          cursor: pointer; }
        .aboutMe .contactFormWraper form div .send {
          background: rgba(108, 156, 90, 0.85); }
        .aboutMe .contactFormWraper form div .clean {
          background: rgba(78, 136, 57, 0.85); }

.content__right-portfolio .workImages .active {
  top: 0%;
  z-index: 1; }

.workDescription .active {
  top: 0%;
  z-index: 1; }

.slider_opposite {
  width: 50%; }

.portfolioContent .content__left-portfolio {
  height: 750px;
  width: 100%; }

@media screen and (min-width: 1700px) {
  .triangle-blog {
    margin-top: -165px; }

  .aboutMe {
    background-size: cover; } }
@media screen and (max-width: 1480px) {
  .content .content__left .hero {
    flex-wrap: wrap; }
    .content .content__left .hero div {
      width: 100%; }
    .content .content__left .hero .about {
      padding: 0 20px;
      padding-bottom: 50px; }

  footer .mainContent > ul > li > a {
    margin-right: 20px; } }
@media screen and (max-width: 1280px) {
  .content .content__right .skills ul li {
    margin-right: 20px; } }
@media screen and (max-width: 1180px) {
  .about__triangle_mobile {
    display: block;
    height: auto;
    margin-top: -100px; }

  .content {
    flex-wrap: wrap; }
    .content .content__left, .content .content__right {
      width: 100%; }

  .content .content__right .skills ul {
    justify-content: center; }

  .content h3 {
    text-align: center; }

  .content .about__triangle {
    display: none; }

  .content .content__left .hero .about__title {
    height: 150px; }

  .slider_opposite {
    width: 100%; }

  .workDescription li {
    padding-top: 40px; }

  .portfolioContent .content__left-portfolio {
    height: 350px; }

  footer {
    margin-top: -230px; }

  footer .mainContent > ul {
    flex-wrap: wrap; }
    footer .mainContent > ul > li {
      width: calc(50% - 16px);
      padding-left: 15px; }
    footer .mainContent > ul > li:nth-child(3) {
      width: 100%;
      margin-top: 20px; } }
@media screen and (max-width: 1100px) {
  .myWorks {
    margin-top: -60px; }

  .workDescription li {
    padding-top: 0;
    padding: 40px 0; } }
@media screen and (max-width: 1020px) {
  .nav-blog {
    display: none !important; } }
@media screen and (max-width: 766px) {
  .aboutMe {
    height: 1750px; }
    .aboutMe .says {
      flex-wrap: wrap;
      justify-content: center; }
      .aboutMe .says li {
        margin-bottom: 50px;
        width: 100%; }

  footer {
    margin-top: -320px; }

  footer .mainContent > ul > li {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding: 0 10px;
    border-right: none; }
    footer .mainContent > ul > li .socials {
      justify-content: center; }

  header .main > img {
    display: none; }

  .content .content__right .skills ul {
    height: auto;
    min-height: 120px;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .content .content__right .skills ul li {
      height: 120px;
      margin-right: 0; }

  .content .content__right .skills {
    padding-left: 10px; }

  .content .content__left .hero .about img {
    max-width: 100%; }

  .content .content__left .hero .about__title .background {
    max-width: 100%; }

  footer .mainContent > ul > li .socials li {
    margin-right: 0;
    margin: 0 15px; } }
@media screen and (max-width: 570px) {
  .about__triangle_mobile {
    margin-top: -55px; } }
@media screen and (max-width: 426px) {
  .myWorks {
    margin-top: -20px; }

  .title h2 {
    font-size: 53px; }

  footer {
    margin-top: -350px; }

  .content__right-portfolio .workImages {
    height: 300px; }

  .content__right-portfolio .buttons .next, .content__right-portfolio .buttons .prev {
    height: 150px; }

  .map .contacts {
    max-width: 100%;
    margin: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.85); }

  footer .mainContent > ul > li {
    height: auto;
    min-height: 90px;
    padding-bottom: 10px; }

  footer .mainContent > ul > li > a {
    margin-right: 0;
    margin: 0 5px; }

  .footer2 p {
    display: block; }

  .footer1 p {
    display: none; } }
@media screen and (max-width: 350px) {
  .content__right-portfolio .buttons .next, .content__right-portfolio .buttons .prev {
    height: 125px; }

  .content__right-portfolio .workImages {
    height: 280px; }

  .aboutMe {
    height: 1850px; }

  .workDescription li h3 {
    font-size: 30px;
    padding: 0 10px; }

  footer {
    margin-top: -370px; } }

/*# sourceMappingURL=main.css.map */
