@import "../fonts/fonts";

@import "sass/setups";
@import "sass/parallax";
@import "sass/content";
@import "sass/map";
@import "sass/footer";

@import "sass/blog";

@import "sass/portfolio";


@import "sass/adaptive";




