body {
  margin: 0;
  padding: 0; }

hr {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal; }

p {
  margin: 0;
  padding: 0; }

.content {
  display: flex; }
  .content h2 {
    font-size: 35px;
    color: #3c4044;
    font-family: 'Sansus-Webissimo-Regular';
    text-transform: uppercase; }
  .content h3 {
    font-size: 28px;
    color: #3c4044;
    font-family: 'Roboto-medium';
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 5px; }
  .content hr {
    border: 2px solid #3c4044;
    width: 90px; }
  .content .about__triangle {
    display: block;
    width: 100%;
    height: 6.875rem;
    margin-top: -110px; }
  .content .content__left {
    background: #eceee2;
    width: 50%; }
    .content .content__left .about__triangle {
      left: 0;
      fill: #eceee2; }
    .content .content__left .hero {
      display: flex;
      margin-top: 20px; }
      .content .content__left .hero div {
        width: 48%; }
      .content .content__left .hero .about__title {
        text-align: center; }
        .content .content__left .hero .about__title h1 {
          font-size: 63px;
          color: #3c4044;
          font-family: 'Sansus-Webissimo-Regular'; }
        .content .content__left .hero .about__title .background {
          width: 340px;
          opacity: 0.05;
          position: relative;
          top: -130px; }
        .content .content__left .hero .about__title hr {
          border: 2px solid #3c4044;
          width: 90px;
          margin: auto;
          margin-top: 20px; }
      .content .content__left .hero .about {
        text-align: center; }
        .content .content__left .hero .about h2 {
          margin-top: 40px; }
        .content .content__left .hero .about hr {
          margin: 30px auto; }
        .content .content__left .hero .about p {
          margin-bottom: 25px;
          font-family: 'Roboto-Regular';
          font-size: 16px;
          color: #3c4044;
          text-align: start; }
  .content .content__right {
    padding-bottom: 50px;
    background: #f4f5f0;
    width: 50%; }
    .content .content__right .about__triangle {
      right: 0;
      fill: #f4f5f0; }
    .content .content__right .skills {
      margin-top: 20px;
      padding-left: 40px;
      display: flex;
      flex-direction: column; }
      .content .content__right .skills hr {
        margin: 30px auto; }
      .content .content__right .skills h2 {
        text-align: center; }
      .content .content__right .skills p {
        margin-bottom: 25px;
        font-family: 'Roboto-Regular';
        font-size: 16px;
        color: #3c4044;
        text-align: start; }
      .content .content__right .skills ul {
        display: flex;
        height: 120px; }
        .content .content__right .skills ul li {
          margin-right: 40px; }
          .content .content__right .skills ul li .skill {
            text-align: center; }
            .content .content__right .skills ul li .skill .skill__title {
              margin-top: -72px;
              font-family: 'Roboto-medium';
              color: #82a066;
              font-size: 14px; }
            .content .content__right .skills ul li .skill svg {
              height: 120px;
              fill: transparent;
              stroke-width: 15; }
              .content .content__right .skills ul li .skill svg .skills__circle-under {
                stroke: #dddbd5; }
              .content .content__right .skills ul li .skill svg .skills__circle-above {
                stroke: #82a066; }

.about__triangle_mobile {
  display: none; }

.map {
  background: url("../img/map.png");
  background-position: center;
  height: 1110px;
  width: 100%;
  text-align: center; }
  .map h2 {
    font-size: 35px;
    color: #5a6359;
    font-family: 'Sansus-Webissimo-Regular';
    text-transform: uppercase;
    margin-top: 30px; }
  .map hr {
    border: 2px solid #5a6359;
    width: 90px;
    margin: 30px auto; }
  .map .contacts {
    position: relative;
    top: 330px;
    display: flex;
    flex-direction: column;
    max-width: 380px;
    margin: auto;
    min-height: 315px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 3px; }
    .map .contacts .contacts__content {
      text-align: start;
      margin-left: 40px; }
      .map .contacts .contacts__content li {
        margin: 15px 0; }
        .map .contacts .contacts__content li p {
          display: inline-block;
          font-family: 'Roboto-medium';
          color: #5b6359;
          font-size: 16px;
          margin-left: 10px;
          position: relative;
          top: -5px; }

footer {
  margin-top: -188px; }
  footer .mainContent {
    min-height: 120px;
    background: rgba(60, 64, 68, 0.85);
    padding-top: 30px; }
    footer .mainContent > ul {
      display: flex;
      justify-content: space-between; }
      footer .mainContent > ul > li {
        width: 33%;
        padding-left: 30px;
        height: 90px;
        border-right: 1px solid #636669; }
        footer .mainContent > ul > li p {
          font-family: 'Roboto-light';
          font-size: 16px;
          color: #fff; }
        footer .mainContent > ul > li > a {
          font-family: 'Roboto-bold';
          font-size: 16px;
          text-decoration: none;
          color: #fff;
          margin-right: 40px; }
        footer .mainContent > ul > li a:nth-child(4) {
          margin-right: 0; }
        footer .mainContent > ul > li q {
          font-family: 'Roboto-light';
          font-size: 16px;
          color: rgba(255, 255, 255, 0.5);
          margin-bottom: 10px;
          display: inline-block; }
        footer .mainContent > ul > li .socials {
          justify-content: flex-start;
          margin-top: 30px; }
          footer .mainContent > ul > li .socials li {
            margin: 0;
            margin-right: 30px; }
            footer .mainContent > ul > li .socials li img {
              opacity: 0.5;
              transition: 0.15s; }
            footer .mainContent > ul > li .socials li img:hover {
              opacity: 1; }
      footer .mainContent > ul li:nth-child(3) {
        border-right: none; }
  footer .footer {
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(123, 155, 94, 0.85); }
    footer .footer p {
      font-family: 'Roboto-light';
      font-size: 16px;
      color: #fff; }

@media screen and (max-width: 1480px) {
  .content .content__left .hero {
    flex-wrap: wrap; }
    .content .content__left .hero div {
      width: 100%; }
    .content .content__left .hero .about {
      padding: 0 20px;
      padding-bottom: 50px; }

  footer .mainContent > ul > li > a {
    margin-right: 20px; } }
@media screen and (max-width: 1280px) {
  .content .content__right .skills ul li {
    margin-right: 20px; } }
@media screen and (max-width: 1180px) {
  .about__triangle_mobile {
    display: block;
    height: auto;
    margin-top: -100px; }

  .content {
    flex-wrap: wrap; }
    .content .content__left, .content .content__right {
      width: 100%; }

  .content .content__right .skills ul {
    justify-content: center; }

  .content h3 {
    text-align: center; }

  .content .about__triangle {
    display: none; }

  .content .content__left .hero .about__title {
    height: 150px; }

  footer .mainContent > ul {
    flex-wrap: wrap; }
    footer .mainContent > ul > li {
      width: calc(50% - 16px);
      padding-left: 15px; }
    footer .mainContent > ul > li:nth-child(3) {
      width: 100%;
      margin-top: 20px; } }

/*# sourceMappingURL=main.css.map */
