.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: #4e8839;
}

.preloader__spinner {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preloader__percents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.preloader__animation {
  width: 150px;
  height: 150px;
  position: relative;
  animation: spin 10s linear infinite;

  &,
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    border: 3px solid transparent;
    border-top-color: #fff;
    border-radius: 50%;
  }

  &:before {
    $magrin: 13px;

    top: $magrin;
    left: $magrin;
    right: $magrin;
    bottom: $magrin;
    animation: spin 7s linear infinite;
  }

  &:after {
    $magrin: 5px;

    top: $magrin;
    left: $magrin;
    right: $magrin;
    bottom: $magrin;
    animation: spin 12s linear infinite;
    
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}