.wrapper
	section.section.hero
		ul.socials
			li.socials__item
				a(href="").socials__link.socials__link_vk
				a(href="").socials__link.socials__link_gh
				a(href="").socials__link.socials__link_fb
		a(href="").hamburger
		a(href="").down-arrow
		.hero__title
			img(scr="../../", alt="").section-title
			.user.hero__user-block
				.user__photo
				.user__name
				.user__desc
	section.section.about
		.about__left
			svg.trinagle.trinagle_fill_white
			.title
				| Обо мне	
			.user-about
				.user-about__picture
				.user-about__title.subtitle
					| Кто я
				.user-about__text
					p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
					p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!

		.about__right
			svg.trinagle.trinagle_fill_beige

			.about-data
				.about-data__title
					.subtitle Чем я могу быть полезен
					.about-data__text
						p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend. Но давайте по порядку.
					.about-data__content
						ul.skills
							each skill in ['Frontend', 'Backend', 'WorkFlow']
								li.skills__item
									.skill-section__title =skill
									u.skill-section__list
										each ckillName in ['HTML5', 'CSS30', 'JS']
											li.skills-section__item
												.skill
													svg.skill__circle
														.skill__name= skillName
	section.section.map
