.content{
	h2{
		font-size: 35px;
		color:#3c4044;
		font-family: 'Sansus-Webissimo-Regular';
		text-transform: uppercase;
	}
	h3{
		font-size: 28px;
		color:#3c4044;
		font-family: 'Roboto-medium';
		margin-top: 30px;
		margin-bottom: 15px;
		margin-left: 5px;
	}
	hr{
		border: 2px solid #3c4044;
		width: 90px;
	}
	display:flex;
	.about__triangle{
		display: block;
	    width: 100%;
	    height: 6.875rem;
	    margin-top: -110px;
	}
	.content__left{
		z-index: 3;
		background: #eceee2;
		width: 50%;
		.about__triangle{
			left: 0;
    		fill: #eceee2;
		}
		.hero{
			display: flex;
			margin-top: 20px;
			div{
				width: 48%;
			}
			.about__title{
				text-align: center;
				h1{
					font-size: 63px;
					color:#3c4044;
					font-family: 'Sansus-Webissimo-Regular';
				}
				.background{
					width: 340px;
				    opacity: 0.1;
				    position: relative;
				    top: -130px;
				}
				hr{
					border: 2px solid #3c4044;
					width: 90px;
					margin:auto;
					margin-top: 20px;
				}
			}
			.about{
				text-align: center;
				h2{
					margin-top: 40px;
				}
				hr{
					margin:30px auto;
				}
				p{
					margin-bottom: 25px;
					font-family: 'Roboto-Regular';
					font-size: 16px;
					color: #3c4044;
					text-align: start;
				}
			}
		}
	}
	.content__right{
		z-index: 3;
		padding-bottom: 50px;
		background: #f4f5f0;
		width: 50%;
		.about__triangle{
			right: 0;
    		fill: #f4f5f0;
		}
		.skills{
			margin-top: 20px;
			padding-left: 40px;
			display: flex;
			flex-direction: column;
			hr{
				margin:30px auto;
			}
			h2{
				text-align: center;
			}
			p{
				margin-bottom: 25px;
				font-family: 'Roboto-Regular';
				font-size: 16px;
				color: #3c4044;
				text-align: start;
			}
			ul{
				display: flex;
				height: 120px;
				
				li{
					margin-right: 40px;
					.skill{
						.skill__title{
							margin-top: -72px;
							font-family: 'Roboto-medium';
							color: #82a066;
							font-size: 14px;
						}
						text-align: center;
						svg{
							height: 120px;
							fill: transparent;
    						stroke-width: 15;
    						.skills__circle-under{
    							stroke: #dddbd5;
    						}
    						.skills__circle-above {
							    stroke: #82a066;
							    stroke-dasharray: 260;
							}
						}
					}
				}
			}
		}
	}
}
.about__triangle_mobile{
	display:none;
}
.skills_95{
	stroke-dashoffset: 21;
}
.skills_90{
	stroke-dashoffset: 34;
}
.skills_85{
	stroke-dashoffset: 47;
}
.skills_80{
	stroke-dashoffset: 60;
}
.skills_75{
	stroke-dashoffset: 73;
}
.skills_70{
	stroke-dashoffset: 86;
}
.skills_65{
	stroke-dashoffset: 99;
}
.skills_60{
	stroke-dashoffset: 112;
}
.skills_55{
	stroke-dashoffset: 125;
}
.skills_50{
	stroke-dashoffset: 138;
}
.skills_45{
	stroke-dashoffset: 151;
}
.skills_40{
	stroke-dashoffset: 164;
}
.skills_35{
	stroke-dashoffset: 177;
}
.skills_30{
	stroke-dashoffset: 190;
}
.skills_25{
	stroke-dashoffset: 203;
}
.skills_20{
	stroke-dashoffset: 216;
}
.skills_15{
	stroke-dashoffset: 229;
}
.skills_10{
	stroke-dashoffset: 242;
}
.skills_5{
	stroke-dashoffset: 255;
}
