.map{
	background: url('../img/map.jpg');
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
	height:1110px;
	width: 100%;
	text-align: center;
	h2{
		font-size: 35px;
		color:#5a6359;
		font-family: 'Sansus-Webissimo-Regular';
		text-transform: uppercase;
		margin-top: 30px;
	}
	hr{
		border: 2px solid #5a6359;
		width: 90px;
		margin: 30px auto;
	}
	.contacts{
		box-shadow: 0 0 47px 0 rgba(90, 99, 89, 0.1);
		position: relative;
		top: 330px;
		display: flex;
		flex-direction: column;
		max-width: 380px;
    	margin: auto;
		min-height: 315px;
		background: rgba(244, 245, 239, 0.85);
		border-radius: 3px;
		.contacts__content{
			text-align: start;
			margin-left: 40px;
			li{
				margin: 40px 0;
				p{
					display: inline-block;
					font-family: 'Roboto-medium';
					color:#5b6359;
					font-size: 16px;
					margin-left: 10px;
					position: relative;
    				top: -5px;
				}
				.phoneIco{
					margin-left: 2px;
					top: -1px;
				}
				.mailIco{
					top: -2px;
				}
				img{
					position: relative;

				}
			}
		}
	}
}