doctype html
html
  head
    title Portfolio
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='assets/js/main.js')
    link(rel='stylesheet', type='text/css', href='assets/css/app.css')
  body
    .admin
        header
            h1 Панель администратора
            a(href='/') Вернуться на сайт
        nav
            a.active Главная
            a Портфолио
            a Блог
            a Авторизация
        .tabs
            .mainPage.activeTab
                h2 Страница 'Обо мне'
            .portfolioPage
                h2 Страница 'Портфолио'
            .blogPage
                h2 Страница 'Блог'
            .authorizationPage
                h2 Страница 'Авторизации'
