doctype html
html
  head
    title login
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    //- script(src='assets/js/main.js')
    script(src=`/assets/js/main${suffix}.js${version}` defer)
    link(rel='stylesheet', type='text/css', href='assets/css/app.css')
  body.loginBody
    .login
        .loginContainer
            h3 Авторизуйтесь
            hr
            form#LoginForm(action='#')
                input(type='text', name='login', placeholder='Логин')
                input(type='text', name='password', placeholder='Пароль')
                input(type='checkbox', name='check')
                div
                    a.toMain(href='/') На главную
                    a.send Войти