extends ../_template

block content
  include ../common/_greating
  include ../common/_menu

  .form-container
    form.form#login(action='login' method="POST")
        .form__subtitle Авторизация
        .status
        label.form__input-line
            input(name="login" type="text" placeholder="login").form__input
        label.form__input-line
            input(name="password" type="password" placeholder="password").form__input
        .form__btns.form__input-line
            input(name="" type="submit" value="Отправить").form__btn-send
            input(name="" type="reset" value="Очистить").form__btn-reset