@media screen and (min-width: 1700px){
	.triangle-blog{
		margin-top: -165px;
	}
	.aboutMe{
		background-size: cover;
	}
}
//////////////////// 1480 ////////////////////
@media screen and (max-width: 1480px){
	.content .content__left .hero{
		flex-wrap: wrap;
		div{
			width: 100%;
		}
		.about{
			padding: 0 20px;
			padding-bottom: 50px;
		}
	}
	footer .mainContent > ul > li > a{
		margin-right: 20px;
	}
}
//////////////////// 1280 ////////////////////
@media screen and (max-width: 1280px){
	.content .content__right .skills ul li{
		margin-right: 20px;
	}
}
@media screen and (max-width: 1180px){
	.about__triangle_mobile{
		display: block;
		height: auto;
		margin-top: -100px;
	}
	.content{
		flex-wrap: wrap;
		.content__left, .content__right{
			width: 100%;
		}
	}
	.content .content__right .skills ul{
		justify-content: center;
	}
	.content h3{
		text-align: center;
	}
	.content .about__triangle{
		display: none;
	}
	.content .content__left .hero .about__title{
    	height: 150px;
	}
	.slider_opposite {
	    width: 100%;
	}
	.workDescription li {
	    padding-top: 40px;
	}
	.portfolioContent .content__left-portfolio{
		height: 350px;
	}
	footer{
		margin-top: -230px;
	}
	footer .mainContent > ul{
		flex-wrap: wrap;
		>li{
			width: calc(50% - 16px);
			padding-left: 15px;
		}
		>li:nth-child(3){
			width: 100%;
			margin-top: 20px;
		}
	}
}
//////////////////// 1100 ////////////////////
@media screen and (max-width: 1100px){
	.myWorks{
		margin-top: -60px;
	}
	.workDescription li {
		    padding-top: 0;
		    padding: 40px 0;
	}
}

@media screen and (max-width: 1020px){
	.nav-blog{
		display: none !important;
	}
}
//////////////////// 766 /////////////////////
@media screen and (max-width: 766px){
	.aboutMe{
		height: 1750px;
		.says{
			flex-wrap: wrap;
			justify-content: center;
			li{
				margin-bottom: 50px;
				width: 100%;
			}
		} 
	}	
	footer{
		    margin-top: -320px;
	}
	footer .mainContent > ul > li{
		width: 100%;
    	text-align: center;
    	padding-left: 0;
    	padding:0 10px;
    	border-right:none;
		
    	.socials{
    		justify-content: center;
    	}
	}
	header .main > img{
		display: none;
	}
	.content .content__right .skills ul{
		height: auto;
		min-height: 120px;
		flex-wrap: wrap;
		justify-content: space-evenly;
		li{
			height: 120px;
			margin-right: 0;
		}
	}
	.content .content__right .skills{
		padding-left:10px;
	}
	.content .content__left .hero .about{
		img{
			max-width: 100%;
		}
	}

	.content .content__left .hero .about__title .background{
		max-width: 100%;
	}
	footer .mainContent > ul > li .socials li{
		margin-right: 0;
		margin:0 15px;
	}
}
//////////////////// 570 /////////////////////
@media screen and (max-width: 570px){
.about__triangle_mobile{
		margin-top: -55px;
	}
}
//////////////////// 426 /////////////////////
@media screen and (max-width: 426px){
	.myWorks{
		margin-top: -20px;
	}
	.title h2{
		font-size: 53px;
	}
	footer{
		margin-top: -350px;
	}
	.content__right-portfolio .workImages{
		height: 300px;
	}
	.content__right-portfolio .buttons .next, .content__right-portfolio .buttons .prev{
		height: 150px;
	}
	.map .contacts{
		max-width: 100%;
		margin:0;
		top:0;
		    background: rgba(255, 255, 255, 0.85);
	}
	footer .mainContent > ul > li{
		height: auto;
		min-height: 90px;
		padding-bottom: 10px;
	}
	footer .mainContent > ul > li > a{
		margin-right: 0;
		margin: 0 5px;
	}
	.footer2{
		p{
			display: block;
		}
		
	}
	.footer1{
		p{
			display: none;
		}
		
	}
}
//////////////////// 350 /////////////////////
@media screen and (max-width: 350px){
	.content__right-portfolio .buttons .next, .content__right-portfolio .buttons .prev{
		height: 125px;
	}
	.content__right-portfolio .workImages{
		height: 280px;
	}
	.aboutMe{
		height: 1850px;
	}
	.workDescription li h3{
		font-size: 30px;
		padding: 0 10px;
	}
	footer{
		margin-top: -370px;
	}
}