.title{
	text-align: center;
	padding-bottom: 50px;
	h2{
		font-size: 63px;
		font-family: 'Sansus-Webissimo-Regular';
		color: #373e42;
		text-transform: uppercase;
	}
	hr{
		border: 2px solid #373e42;
		width: 90px;
		margin: auto;
		margin-top: 20px;
	}
	img{
		margin-top: -150px;
    	opacity: 0.05;
    	max-width: 100%;
	}
}
.myWorks{
	margin-top: -100px;
	background: #f8f9f5;
	img{
		max-width: 95%;
	}
}
.portfolioContent{
	min-height: 750px;
}
.content__left-portfolio{
	background: #ebefe2 !important; 
}
.content__right-portfolio{
	background: #e1e4d7 !important; 
}
.workDescription{
	height:100%;
	position: relative;
	overflow:hidden;
	display: flex;
    justify-content: center;
	li{
		height: calc(100% - 250px);
		max-width: 320px;
		margin: auto;
		text-align: center;
		padding-top: 250px;
		position: absolute;
		top: -100%;
		h3{
			text-transform: uppercase;
			font-size: 35px;
			color: #566358;
			font-family: 'Sansus-Webissimo-Regular';
			margin-left: 0;
			text-align: center;
			margin-bottom: 25px;
			margin-top: 0;
		}
		hr{
			margin: auto;
			border: 2px solid #566358;
		}
		p{
			text-align: center;
			margin-top: 25px;
			color: #4e8839;
			font-size: 16px;
			font-family:'Roboto-Medium';
		}
		
		a{
			display: flex;
			justify-content: center;
			align-items: center;
			margin: auto;
			margin-top: 60px;
			border-radius: 22px;
			border:none;
			background:#6c9c5a;
			width: 200px;
			height: 45px;
			color: #fff;
			font-size: 16px;
			font-family:'Roboto-Medium';
			cursor: pointer;
			img{
				margin-right: 10px;
			}
		}
	}
}
.content__right-portfolio{
	padding-bottom: 0 !important;
	.workImages{
		    height: 525px;
		    width: 100%;
		    overflow: hidden;
		    display: flex;
		    justify-content: center;
		    position: relative;
		li{
			top: 100%;
		    height: 100%;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    max-width: 100%;
		    position: absolute;
		    img{
		    	max-width: 95%;
		    }
		}
	}
	.buttons{
		width: 100%;
		max-height: 225px;
		display: flex;
		.next, .prev{
			height: 225px;
			width: 50%;
			border: none;
			padding:0;
			display: flex;
    		justify-content: center;
		}
		.next{
			background: #a7aba3;
			img{
				transform: rotate(180deg);
			}
		}
		.prev{
			background: #b5bab1;
		}
		.next, .prev{
			background-position: center;
    		background-size: contain;
    		background-repeat: no-repeat;
		}
	}

}
.aboutMe{
	background-image: url('../img/bg.png');
	background-position: bottom;
	background-repeat: no-repeat;
	height: 1356px;
	background-size: inherit;
	.title{
		margin-top: 75px;
		img{
			position: relative;
    		top: -40px;
    		opacity: 0.1;
		}
	}
	.says{
		max-width: 816px;
		margin: auto;
		display: flex;
		li{
			padding:0 14px;
			width: 50%;
			display: flex;
			flex-direction: column;
			align-items:center;
			p:nth-child(2) {
				font-size: 16px;
				font-family:Roboto-Italic;
				color: #5d5a55;
				margin-top: 17px;
			}
			p:nth-child(3){
				color: #4e8839;
				font-size: 16px;
				margin-top: 27px;
				font-family:Roboto-MediumItalic;
			}
			p:nth-child(4){
				margin-top: 5px;
				font-size: 16px;
				font-family:Roboto-LightItalic;
				color: #5d5a55;
			}
		}
	}
	.contactFormWraper{
		background: rgba(224, 224, 220, 0.4);
		max-width: 380px;
		margin: auto;
		text-align: center;
		margin-top: 70px;
		padding-top: 40px;
		border-radius: 3px;
		h3{
			font-size: 35px;
			color: #566358;
			font-family:Sansus-Webissimo-Regular;
			text-transform: uppercase;
		}
		hr{
			border: 2px solid #566358;
			width: 90px;
			margin: 20px auto;

		}
		form{
			display: flex;
			flex-direction: column;
			align-items: center;
			input, textarea{
				margin-top: 20px;
				border: none;
				border-radius: 21px;
				height: 45px;
				width: 80%;
				outline:none;
				font-family:Roboto-Regular;
				font-size: 16px;
				color: #5d5a55;
				padding:0 20px;
			}
			textarea{
				min-width: 80%;
				max-width: 80%;
				min-height: 140px;
				max-height: 140px;
				padding-top: 15px;
			}

			div{
				width: 100%;
				display: flex;
				margin-top: 20px;
				height: 45px;
				button{
					width: 50%;
					height: 100%;
					border: none;
					font-size: 16px;
					font-family:Roboto-Medium;
					color:#fff;
					cursor: pointer;
				}
				.send{
					background: rgba(108, 156, 90, 0.85);
				}
				.clean{
					background: rgba(78, 136, 57, 0.85);
				}
			}
			
		}
	}			
}
.content__right-portfolio .workImages .active{
	top: 0%;
	z-index: 1
}
.workDescription .active{
	top: 0%;
	z-index: 1
}
.slider_opposite{
	width: 50%;
}
.portfolioContent .content__left-portfolio {
	height: 750px;
	width:100%;
}