@font-face{
	font-family:FontAwesome;
	src: url(../fonts/FontAwesome.otf);
}
@font-face{
    font-family:fontawesome-webfont;
    src: url(../fonts/fontawesome-webfont.ttf);
}
@font-face{
    font-family:Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face{
    font-family:Roboto-BoldItalic;
    src: url(../fonts/Roboto-BoldItalic.ttf);
}
@font-face{
    font-family:Roboto-Italic;
    src: url(../fonts/Roboto-Italic.ttf);
}
@font-face{
    font-family:Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face{
    font-family:Roboto-LightItalic;
    src: url(../fonts/Roboto-LightItalic.ttf);
}
@font-face{
    font-family:Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face{
    font-family:Roboto-MediumItalic;
    src: url(../fonts/Roboto-MediumItalic.ttf);
}
@font-face{
    font-family:Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family:Sansus-Webissimo-Regular;
    src: url(../fonts/Sansus-Webissimo-Regular.ttf);
}